@import url(http://weloveiconfonts.com/api/?family=brandico);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

.container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  width: 940px;
  margin-left: 160px;
  margin-right: 160px; }
  .container:last-child {
    margin-right: 0; }

header {
  border-bottom: 1px solid #B9B9B9;
  height: 115px;
  width: 100%; }
  header .logo {
    width: 300px;
    height: 80px;
    display: inline-block;
    float: left; }
  header .social-media-icons {
    display: inline-block;
    float: right; }
    header .social-media-icons ul li {
      list-style: none; }

.three-columns {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  width: 100%; }
  .three-columns:last-child {
    margin-right: 0; }
  .three-columns .glance {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    background-color: #EBEBEB; }
    .three-columns .glance:last-child {
      margin-right: 0; }
    .three-columns .glance #latest-news {
      border: 1px solid #B9B9B9; }
    .three-columns .glance #daily-special {
      margin-right: 0;
      border: 1px solid #B9B9B9; }
    .three-columns .glance #location {
      border: 1px solid #B9B9B9; }

.main-body {
  width: 100%; }

footer {
  border-top: 1px solid #B9B9B9;
  margin-bottom: 25px; }

.our-story {
  margin-left: 150px;
  padding-top: 20px;
  width: 670px; }

.para1 {
  font-size: 14px;
  width: 100%;
  line-height: 20px;
  font-family: 'Walter Turncoat', cursive;
  color: #0D3C1E; }

.para2 {
  font-size: 14px;
  width: 100%;
  line-height: 20px;
  padding-top: 10px;
  font-family: 'Walter Turncoat', cursive;
  color: #0D3C1E; }

img {
  width: 100%;
  padding-top: 10px; }

.reservations {
  margin-left: 110px; }

.reservations ul li {
  list-style: none;
  font-size: 16px; }

.reservationsTab {
  font-weight: bold; }

.fullName {
  font-family: 'Shadows Into Light', cursive;
  color: #00A16E; }

.blankSpace1 {
  background-color: gray;
  color: black;
  width: 300px;
  height: 30px;
  margin-top: 15px; }

.numberofGuests {
  padding-top: 20px;
  font-family: 'Shadows Into Light', cursive;
  color: #00A16E; }

.blankSpace2 {
  background-color: gray;
  color: black;
  width: 100px;
  height: 30px;
  margin-top: 15px; }

.date {
  padding-top: 20px;
  font-family: 'Shadows Into Light', cursive;
  color: #00A16E; }

.blankSpace3 {
  background-color: gray;
  color: black;
  width: 100px;
  height: 30px;
  margin-top: 15px; }

.specialNotes {
  padding-top: 20px;
  font-family: 'Shadows Into Light', cursive;
  color: #00A16E; }

.blankSpace4 {
  background-color: gray;
  color: black;
  width: 400px;
  height: 80px;
  margin-top: 15px; }

.seatingPreferance {
  padding-top: 20px;
  font-family: 'Shadows Into Light', cursive;
  color: #00A16E; }

.seatingOption {
  margin-top: 10px;
  width: 105px;
  font-family: 'Shadows Into Light', cursive;
  color: #00A16E; }

.reserveButton {
  background-color: black;
  width: 150px;
  height: 50px;
  margin-left: 145px;
  font-family: 'Shadows Into Light', cursive;
  color: #00A16E; }

.menu {
  max-width: 700px; }
  .menu h1 {
    font-size: 24px;
    border-bottom: 1px solid;
    font-weight: 100; }
  .menu .section {
    font-size: 24px;
    border-bottom: 1px solid;
    margin-top: 50px; }
  .menu .itemBlock {
    width: 700px;
    border: 1px dotted;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 15px; }
    .menu .itemBlock .blockLeft {
      display: inline-block; }
      .menu .itemBlock .blockLeft .menuItem {
        font-size: 16px;
        display: inline-block; }
      .menu .itemBlock .blockLeft .menuDes {
        font-size: 12px; }
    .menu .itemBlock .blockRight {
      float: right;
      display: inline-block;
      text-align: right; }
      .menu .itemBlock .blockRight .menuPrice {
        font-size: 14px;
        display: inline-block;
        margin-bottom: 28px; }
      .menu .itemBlock .blockRight .priceCup {
        margin: 0;
        margin-top: -44px; }
      .menu .itemBlock .blockRight .priceBowl {
        margin: 0; }
      .menu .itemBlock .blockRight .menuIcons:before {
        content: '';
        position: absolute;
        margin-left: -10px;
        margin-top: -4px;
        background-color: black;
        width: 1px;
        height: 25px; }
      .menu .itemBlock .blockRight .menuIcons .fa-exclamation-circle:hover {
        border: 1px solid;
        padding: 2px;
        border-radius: 5px; }
      .menu .itemBlock .blockRight .menuIcons .fa-exclamation-circle:hover .exclamationHover {
        display: block; }
      .menu .itemBlock .blockRight .menuIcons .fa-exclamation-circle .exclamationHover {
        display: none;
        width: 245px;
        height: 110px;
        background-color: #0D3C1E;
        position: absolute;
        border-radius: 10px;
        right: 592px;
        margin-top: 2px;
        color: #fff;
        text-align: center;
        z-index: 1000; }
        .menu .itemBlock .blockRight .menuIcons .fa-exclamation-circle .exclamationHover h2 {
          border-bottom: 1px dotted #fff;
          padding: 5px 0px;
          margin: 10px 20px; }
        .menu .itemBlock .blockRight .menuIcons .fa-exclamation-circle .exclamationHover p {
          padding: 0px 16px; }
          .menu .itemBlock .blockRight .menuIcons .fa-exclamation-circle .exclamationHover p a {
            text-decloration: none; }
      .menu .itemBlock .blockRight .menuIcons .fa-star:hover {
        border: 1px solid;
        padding: 2px;
        border-radius: 5px; }
      .menu .itemBlock .blockRight .menuIcons .fa-star:hover .starHover {
        display: block; }
      .menu .itemBlock .blockRight .menuIcons .fa-star .starHover {
        display: none;
        width: 245px;
        height: 110px;
        background-color: #0D3C1E;
        position: absolute;
        border-radius: 10px;
        right: 574px;
        margin-top: 2px;
        color: #fff;
        text-align: center;
        z-index: 1000; }
        .menu .itemBlock .blockRight .menuIcons .fa-star .starHover h2 {
          border-bottom: 1px dotted #fff;
          padding: 5px 0px;
          margin: 10px 20px; }
        .menu .itemBlock .blockRight .menuIcons .fa-star .starHover button {
          color: #0D3C1E;
          padding: 14px;
          border-radius: 10px;
          border: none;
          background-color: #fff; }
      .menu .itemBlock .blockRight .menuIcons .fa-fire:hover {
        border: 1px solid;
        padding: 2px;
        border-radius: 5px; }
      .menu .itemBlock .blockRight .menuIcons .fa-fire:hover .fireHover {
        display: block; }
      .menu .itemBlock .blockRight .menuIcons .fa-fire .fireHover {
        display: none;
        width: 245px;
        height: 110px;
        background-color: #0D3C1E;
        position: absolute;
        border-radius: 10px;
        right: 555px;
        margin-top: 2px;
        color: #fff;
        text-align: center;
        z-index: 1000; }
        .menu .itemBlock .blockRight .menuIcons .fa-fire .fireHover h2 {
          border-bottom: 1px dotted #fff;
          padding: 5px 0px;
          margin: 10px 20px; }
        .menu .itemBlock .blockRight .menuIcons .fa-fire .fireHover p a {
          text-decloration: none; }
      .menu .itemBlock .blockRight .menuIcons .fa-vimeo:hover {
        border: 1px solid;
        padding: 2px;
        border-radius: 5px; }
      .menu .itemBlock .blockRight .menuIcons .fa-vimeo:hover .vimeoHover {
        display: block; }
      .menu .itemBlock .blockRight .menuIcons .fa-vimeo .vimeoHover {
        display: none;
        width: 245px;
        height: 110px;
        background-color: #0D3C1E;
        position: absolute;
        border-radius: 10px;
        right: 538px;
        margin-top: 2px;
        color: #fff;
        text-align: center;
        z-index: 1000; }
        .menu .itemBlock .blockRight .menuIcons .fa-vimeo .vimeoHover h2 {
          border-bottom: 1px dotted #fff;
          padding: 5px 0px;
          margin: 10px 20px; }
