@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=brandico);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

body {
  width: 940px;
  margin-left: 160px;
  margin-right: 160px; }
  body ul, body li {
    list-style: none; }

.container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .container:last-child {
    margin-right: 0; }

header {
  border-bottom: 1px solid borderColor;
  height: 115px;
  width: 100%; }
  header .logo {
    width: 300px;
    height: 80px;
    display: inline-block;
    float: left; }
  header .social-media-icons {
    display: inline-block;
    float: right; }
    header .social-media-icons ul li {
      list-style: none; }

#imgRow {
  height: 350px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden; }
  #imgRow #main-image {
    width: 940px;
    height: 350px; }

.three-columns {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .three-columns:last-child {
    margin-right: 0; }
  .three-columns .glance {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    border: #B9B9B9;
    background-color: #EBEBEB; }
    .three-columns .glance:last-child {
      margin-right: 0; }
    .three-columns .glance #latest-news {
      border: 1px solid #B9B9B9; }
    .three-columns .glance #daily-special {
      margin-right: 0;
      border: 1px solid #B9B9B9; }
    .three-columns .glance #location {
      border: 1px solid #B9B9B9; }

#main-body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: green; }
  #main-body::after {
    clear: both;
    content: "";
    display: table; }
  #main-body:last-child {
    margin-right: 0; }
  #main-body #dynamicContainer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    background-color: orange;
    height: 1200px;
    float: left; }
    #main-body #dynamicContainer:last-child {
      margin-right: 0; }
    #main-body #dynamicContainer .tabWrapper {
      width: 100%; }
      #main-body #dynamicContainer .tabWrapper .tab li {
        background: none;
        background-color: pink;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer; }
      #main-body #dynamicContainer .tabWrapper .tab li.open {
        background: white; }
      #main-body #dynamicContainer .tabWrapper .tabContent.open {
        display: block; }
  #main-body #foodPhotoContainer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
    border: #B9B9B9;
    float: right; }
    #main-body #foodPhotoContainer:last-child {
      margin-right: 0; }
  #main-body .foodPhotos {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
    border: #B9B9B9;
    height: 280px;
    background-color: #EBEBEB;
    margin: 0 0 40px 0; }
    #main-body .foodPhotos:last-child {
      margin-right: 0; }
    #main-body .foodPhotos:nth-child(1n) {
      margin-right: 0; }
    #main-body .foodPhotos:nth-child(1n+1) {
      clear: left; }

footer {
  border-top: 1px solid borderColor;
  margin-bottom: 25px; }
