<!DOCTYPE html>
<html>
<head>
  <title>yumEats</title>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class='container'>
    <header>
        <div class='logo'>
          <img src="images/logo.png">
        </div>
        <div class='social-media-icons'>
           <ul>
             <li class="brandico-instagram"></li>
             <li class="brandico-facebook"></li>
             <li class="brandico-twitter"></li>
             <li class="brandico-opentable"></li>
             <li class="brandico-yelp"></li>
             <li class="brandico-flickr"></li>
           </ul>
        </div>
    </header>

    <div id="imgRow">
    <img id="main-image" src="images/Interior3.jpeg">
    </div>

    <div class='three-columns'>
      <div class="glance" id='restaurant-pic'></div>
      <div class="glance" id='latest-news'>Latest News</div>
      <div class="glance" id='daily-special'>Today's Special</div>
      <div class="glance" id='location'>
        <span>Our Location</span>
        <iframe width="300" height="150" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:EjA5MzMgV2VzdCBQZWFjaHRyZWUgU3QgTlcsIEF0bGFudGEsIEdBIDMwMzA5LCBVU0E&key=AIzaSyDhxw6TiEdV11CzzDCmhdGu9WpuNl90bBQ" allowfullscreen></iframe>
        <span>555.555.5555 &middot; 555.555.5555 &middot; Map &middot; Directions</span> 
      </div>
    </div>
    
    <div id='main-body'>
    <br>

      <div id="dynamicContainer">

        <div class="tabWrapper">
          <ul class="tabs">
            <li class="tabLink open" data-tab="tab1">Tab One</li>
             <li class="tabLink open" data-tab="tab1">Tab Two</li>
              <li class="tabLink open" data-tab="tab1">Tab Three</li>
          </ul>

            <div id="tab1" class="tabContent open">
              Duis mollis pulvinar volutpat. Duis aliquam laoreet erat id ornare. Pellentesque interdum convallis urna, sed aliquam felis malesuada sed. Duis ex turpis, commodo id blandit at, aliquet et quam. Phasellus eleifend lorem dolor, ac pulvinar nisi tempus non.
            </div>
            <div id="tab2" class="tabContent">
              Duis mollis pulvinar volutpat. Duis aliquam laoreet erat id ornare. Pellentesque interdum convallis urna, sed aliquam felis malesuada sed. Duis ex turpis, commodo id blandit at, aliquet et quam. Phasellus eleifend lorem dolor, ac pulvinar nisi tempus non.
            </div>
            <div id="tab3" class="tabContent">
              Duis mollis pulvinar volutpat. Duis aliquam laoreet erat id ornare. Pellentesque interdum convallis urna, sed aliquam felis malesuada sed. Duis ex turpis, commodo id blandit at, aliquet et quam. Phasellus eleifend lorem dolor, ac pulvinar nisi tempus non.
            </div>
        </div>
      </div>

      <div id='foodPhotoContainer'>
        <div class= "foodPhotos" id="foodPhoto1"> </div>
        <div class= "foodPhotos" id="foodPhoto2"> </div>
        <div class= "foodPhotos" id="foodPhoto3"> </div>
        <div class= "foodPhotos" id="foodPhoto4"> </div>
        <div class= "foodPhotos" id="foodPhoto5"> </div>
      </div>
    </div>

       <!--  <div class="para1">Duis mollis pulvinar volutpat. Duis aliquam laoreet erat id ornare. Pellentesque interdum convallis urna, sed aliquam felis malesuada sed. Duis ex turpis, commodo id blandit at, aliquet et quam. Phasellus eleifend lorem dolor, ac pulvinar nisi tempus non. Aliquam aliquet augue quis dolor cursus euismod. Nam congue vehicula orci et molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur dignissim, urna vitae interdum euismod, arcu nulla pellentesque leo, sit amet ultrices leo est non nisl. Curabitur at velit vel libero volutpat vehicula dignissim quis turpis.</div>
        <img src="http://www.thisisstaffordshire.co.uk/images/localworld/ugc-images/275796/Article/images/19428404/5009050-large.jpg">
        <div class="para2">Duis mollis pulvinar volutpat. Duis aliquam laoreet erat id ornare. Pellentesque interdum convallis urna, sed aliquam felis malesuada sed. Duis ex turpis, commodo id blandit at, aliquet et quam. Phasellus eleifend lorem dolor, ac pulvinar nisi tempus non. Aliquam aliquet augue quis dolor cursus euismod. Nam congue vehicula orci et molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur dignissim, urna vitae interdum euismod, arcu nulla pellentesque leo, sit amet ultrices leo est non nisl. Curabitur at velit vel libero volutpat vehicula dignissim quis turpis.</div>
      </div> -->
      <!-- <div class='menu'>
        <div class="menuBreakfast"></div>
        <div class="menuSandwiches"></div>
        <div class="menuToppings"></div>
        <div class="menuSides"></div>
        <div class="menuSalads"></div>
        <div class="menuSoups"></div>
        <div class="menuDrinks"></div>
        <div class="menuDesserts"></div>
        <div class="menuVeradesserts"></div>
      </div>
      <div class='reservations'>
        <ul>
          <li class="fullName">Full Name</li>
          <span>
            <input class="blankSpace1"></input>
          </span>
          <li class="numberofGuests">Number of Guests</li>
          <span>
            <input class="blankSpace2"></input>
          </span>
        <li class="date">Date</li>
          <span><input class="blankSpace3"></input></span>
        <li class="specialNotes">Special Notes</li>
          <span><input class="blankSpace4"></input></span>
        <li class="seatingPreferance">Seating Preferance</li> 
          <select class="seatingOption">
            <option>Indoor</option>
            <option>Outdoor</option>
          </select>
        </ul>
        <button class="reserveButton">Reserve Table</button>
      </div>
      <div class='reviews'></div>
    </div> -->

 <!--    <aside>
      <div id='foodPhotoContainer'>
        <div class= "foodPhotos" id="foodPhoto1"> </div>
        <div class= "foodPhotos" id="foodPhoto2"> </div>
        <div class= "foodPhotos" id="foodPhoto3"> </div>
        <div class= "foodPhotos" id="foodPhoto4"> </div>
        <div class= "foodPhotos" id="foodPhoto5"> </div>
      </div>
    </aside> -->
       

    <footer>
    <br>
    <br>
    &copy;2015 yumEats
    </footer>

  </div>

  <script type="text/template" id="blog-post">
    <p><%= title %></p>
    <p><%= date_published %></p>
    <p><%= post %></p>
  </script>

  <script type="text/template" id="specials">
    <p><%= item %></p>
    <p><%= price %></p>
    <p><%= description %></p>
  </script>

<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
</body>
</html>
