
//-------> Social Media Icon <----------------------

// INSTAGRAM Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

// FACEBOOK Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//TWITTER Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//OPENTABLE icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//YELP icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//FLICKR icon
@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

// <!-- how to do Single Element in HTML-->
// <span class="brandico-instagram"></span>

// <!-- how to Group of Elements in HTML -->
// <ul>
//   <li class="brandico-instagram"></li>
//   <li class="brandico-facebook"></li>
//   <li class="brandico-twitter"></li>
//   <li class="brandico-opentable"></li>
//   <li class="brandico-yelp"></li>
//   <li class="brandico-flickr"></li>
// </ul>


//----------> Menu Icons <-------------

//Spicy Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//Restaurant Favorite Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//Vegan Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//Allergy Info Icon 
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

// <!-- how to do Single Element in HTML-->
// <span class="brandico-spicy"></span>

// <!-- how to Group of Elements in HTML -->
// <ul>
//   <li class="brandico-spicy"></li>
//   <li class="brandico-favorite"></li>
//   <li class="brandico-vegan"></li>
//   <li class="brandico-allergy"></li>
// </ul>
