
//-------> Social Media Icon <----------------------

// INSTAGRAM Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

// FACEBOOK Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//TWITTER Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//OPENTABLE icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//YELP icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//FLICKR icon
@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

// <!-- how to do Single Element in HTML-->
// <span class="brandico-instagram"></span>

// <!-- how to Group of Elements in HTML -->
// <ul>
//   <li class="brandico-instagram"></li>
//   <li class="brandico-facebook"></li>
//   <li class="brandico-twitter"></li>
//   <li class="brandico-opentable"></li>
//   <li class="brandico-yelp"></li>
//   <li class="brandico-flickr"></li>
// </ul>


//----------> Menu Icons <-------------

//Spicy Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//Restaurant Favorite Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//Vegan Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//Allergy Info Icon 
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

// <!-- how to do Single Element in HTML-->
// <span class="brandico-spicy"></span>

// <!-- how to Group of Elements in HTML -->
// <ul>
//   <li class="brandico-spicy"></li>
//   <li class="brandico-favorite"></li>
//   <li class="brandico-vegan"></li>
//   <li class="brandico-allergy"></li>
// </ul>
.menu {
  margin-left: 150px;
  padding-top: 20px;
}
.para1 {
  font-size: 12px;
  width: 575px;
  line-height: 20px;

}
.para2 {
  font-size: 12px;
  width: 575px;
  line-height: 20px;
  padding-top: 10px;
}
img {
  width: 575px;
  height: 250px;
  padding-top: 10px;
}
.reservations {
  margin-left: 110px;
}

.reservations ul li {
  list-style: none;
  font-size: 16px;
}
.reservationsTab {
  font-weight: bold;
}
.fullName {
  font-weight: bold;
}
.blankSpace1 {
  width: 300px;
  height: 30px;
  margin-top: 15px;
}
.numberofGuests {
  padding-top: 20px;
  font-weight: bold;
}
.blankSpace2 {
  width: 100px;
  height: 30px;
  margin-top: 15px;
}
.date {
  padding-top: 20px;
  font-weight: bold;
}
.blankSpace3 {
  width: 100px;
  height: 30px;
  margin-top: 15px;
}
.specialNotes {
  padding-top: 20px;
  font-weight: bold;
}
.blankSpace4 {
  width: 400px;
  height: 80px;
  margin-top: 15px;
}
.seatingPreferance {
  padding-top: 20px;
  font-weight: bold;
}
.seatingOption  {
  margin-top: 10px;
  width: 105px;
}
.reserveButton {
  color: white;
  background-color: black;
  width: 150px;
  height: 50px;
  margin-left: 145px;
}










