
$borderColor: #B9B9B9;
$apiColor: #EBEBEB;

@import "bourbon/bourbon";
@import "neat/neat";

//-------> Social Media Icon <----------------------

// INSTAGRAM Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

// FACEBOOK Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//TWITTER Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//OPENTABLE icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//YELP icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//FLICKR icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

// <!-- how to do Single Element in HTML-->
// <span class="brandico-instagram"></span>

// <!-- how to Group of Elements in HTML -->
// <ul>
//   <li class="brandico-instagram"></li>
//   <li class="brandico-facebook"></li>
//   <li class="brandico-twitter"></li>
//   <li class="brandico-opentable"></li>
//   <li class="brandico-yelp"></li>
//   <li class="brandico-flickr"></li>
// </ul>


//----------> Menu Icons <-------------

//Spicy Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//Restaurant Favorite Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//Vegan Icon
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//Allergy Info Icon 
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

// <!-- how to do Single Element in HTML-->
// <span class="brandico-spicy"></span>

// <!-- how to Group of Elements in HTML -->
// <ul>
//   <li class="brandico-spicy"></li>
//   <li class="brandico-favorite"></li>
//   <li class="brandico-vegan"></li>
//   <li class="brandico-allergy"></li>
// </ul>


//-------> Today's Special, Blog and Location Styles <----------

body{
  width: 940px;
  margin-left: 160px;
  margin-right: 160px;

  ul,li{
    list-style: none;
  }

}


.container {
  @include span-columns(12);

}
  header{
    border-bottom: 1px solid $borderColor;
    height: 115px;
    width: 100%;

    
    .logo{
      width: 300px;
      height: 80px;
      display: inline-block;
      float: left;

    }

    .social-media-icons{
      display: inline-block;
      float: right;

        ul li{
          list-style: none;
        }
      
    }
  }

  #imgRow {
    height: 350px;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;

      #main-image{
        width: 940px;
        height: 350px;
      }
  }

  .three-columns{
    @include span-columns(12);

    .glance {
      @include span-columns(4 of 12);
      border: $borderColor;
      background-color: $apiColor;


      #latest-news{
        border: 1px solid $borderColor;
      }

      #daily-special{
        @include omega ();
        border: 1px solid $borderColor;
      }

      #location{
        border: 1px solid $borderColor;
      }
    }

  }

  #main-body{
    @include outer-container;
    @include span-columns(12);
    background-color: green;



  footer{
    border-top: 1px solid $borderColor;
    margin-bottom: 25px;
  }
      #dynamicContainer {
         @include span-columns(8 of 12);
         @include omega ();

         background-color: orange;
         height: 1200px;
         float: left;

         .tabWrapper {
          width: 100%;

          .tabs {
            background: none;
            background-color: pink;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
          }

          .tabContainer p {
            display: inline-block;
          }

          }

        .open {
          display: block;
        }

        .close {
            display: none;
        }

      }

 #foodPhotoContainer{
  @include span-columns(4);
  @include omega();
  border: $borderColor;
  float: right;
}
  
  .foodPhotos {
    @include span-columns(4 of 4);
    @include omega(1n);
    border: $borderColor;
    height: 280px;
    background-color: $apiColor;
    margin: 0 0 40px 0;
  }

    
    }

// ------- Menu Section ------- //

// Main body of menu
.menu {
  max-width: 700px;

  h1 {
    font-size: 24px;
    border-bottom: 1px solid;
    font-weight: 100;
  }

  // Class for each section header 
  .section {
    font-size: 24px;
    border-bottom: 1px solid;
    margin-top: 50px;

  }

  .itemBlock {
    width: 700px;

    .menuItem {
      font-size: 16px;
      display: inline-block;

    }

    .menuPrice {
      font-size: 14px;
      display: inline-block;


    }

    .dotted {
      width: 400px;
      border-bottom: 1px dotted;
      display: inline-block;
    }

    .menuDes {
      font-size: 12px;
      
    }

    .menuIcons {
      
      float: right;
      margin-top: 10px;
    }
    
  }

}
// ------- End Menu Section -------//


  //       .our-story {
  //         margin-left: 150px;
  //         padding-top: 20px;
  //         width: 670px;
  //       }
  //       .para1 {
  //         font-size: 14px;
  //         width: 100%;
  //         line-height: 20px;
  //         font-family: 'Walter Turncoat', cursive;
  //         color: #0D3C1E;

  //       }
  //       .para2 {
  //         font-size: 14px;
  //         width: 100%;
  //         line-height: 20px;
  //         padding-top: 10px;
  //         font-family: 'Walter Turncoat', cursive;
  //         color: #0D3C1E;
  //       }
  //       img {
  //         width: 100%;
  //         padding-top: 10px;
  //       }
  //       .reservations {
  //         margin-left: 110px;
  //       }

  //       .reservations ul li {
  //         list-style: none;
  //         font-size: 16px;
  //       }
  //       .reservationsTab {
  //         font-weight: bold;
  //       }
  //       .fullName {
  //         font-family: 'Shadows Into Light', cursive;
  //         color: #00A16E;
  //       }
  //       .blankSpace1 {
  //         background-color: gray;
  //         color: black;
  //         width: 300px;
  //         height: 30px;
  //         margin-top: 15px;
  //       }
  //       .numberofGuests {
  //         padding-top: 20px;
  //         font-family: 'Shadows Into Light', cursive;
  //         color: #00A16E;
  //       }
  //       .blankSpace2 {
  //         background-color: gray;
  //         color: black;
  //         width: 100px;
  //         height: 30px;
  //         margin-top: 15px;
  //       }
  //       .date {
  //         padding-top: 20px;
  //         font-family: 'Shadows Into Light', cursive;
  //         color: #00A16E;
  //       }
  //       .blankSpace3 {
  //         background-color: gray;
  //         color: black;
  //         width: 100px;
  //         height: 30px;
  //         margin-top: 15px;
  //       }
  //       .specialNotes {
  //         padding-top: 20px;
  //         font-family: 'Shadows Into Light', cursive;
  //         color: #00A16E;
  //       }
  //       .blankSpace4 {
  //         background-color: gray;
  //         color: black;
  //         width: 400px;
  //         height: 80px;
  //         margin-top: 15px;
  //       }
  //       .seatingPreferance {
  //         padding-top: 20px;
  //         font-family: 'Shadows Into Light', cursive;
  //         color: #00A16E;
  //       }
  //       .seatingOption  {
  //         margin-top: 10px;
  //         width: 105px;
  //         font-family: 'Shadows Into Light', cursive;
  //         color: #00A16E;
  //       }
  //       .reserveButton {
  //         background-color: black;
  //         width: 150px;
  //         height: 50px;
  //         margin-left: 145px;
  //         font-family: 'Shadows Into Light', cursive;
  //         color: #00A16E;
  //       }

  // }










